//FAMILY
$main-font-family: "Montserrat";
$secondary-font-family: "Hind";

//FONT STEP
$ui-font-step: 18px;

//SIZES
$fs-default: $ui-font-step;
$fs-100: $ui-font-step * 1.25;
$fs-200: $ui-font-step * 1.5;
$fs-300: $ui-font-step * 1.75;
$fs-300: $ui-font-step * 2;

//WEIGHTS
$normal: 400;
$bold: 700;
