@use "../../../6_shared/stylesheets/abstracts/" as *;
@use "../../../6_shared/stylesheets/mixins/" as *;

.header {
  color: $primary-color;

  font-size: $fs-300;

  line-height: 1.25;

  text-align: center;

  font-weight: $bold;

  &:hover {
    color: $text-color;
  }

  @include transition-100;
}
