@use "../../../../6_shared/stylesheets/abstracts/" as *;

$illustration-width: 50px;

.beverage-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid $accent-color;
  border-radius: 1em;
  height: 100%;
  padding: $ui-step * 2;
}

.illustration {
  max-width: $illustration-width;
  min-width: $illustration-width;
}

.name {
  font-size: $fs-200;
  margin-inline: auto;
  font-weight: $bold;
}

.descr {
  font-family: $secondary-font-family;
  text-align: justify;
}

.first-brewed {
  font-weight: $bold;
}

.contributed-by {
  font-weight: $bold;
}
