@use "../abstracts/" as *;
@use "../mixins/" as *;

html {
  font-family: $main-font-family, "Calibri";

  scroll-behavior: smooth;

  @include scroll-snap-container;
}

body {
  color: $text-color;
  background-color: $background-color;
  font-weight: $normal;
  font-size: $fs-default;
}
