@use "../../../../6_shared/stylesheets/abstracts/" as *;
@use "../../../../6_shared/stylesheets/mixins/" as *;
@use "../../../../6_shared/stylesheets/components/" as *;

.beverage-card-list {
  display: grid;
  grid-template-columns: repeat(5, minmax($beverage-card-width, 1fr));
  gap: $beverage-card-list-gap;
}

.beverage-card {
}
