@use "../../../../6_shared/stylesheets/abstracts/" as *;

.tag {
  font-weight: $bold;

  padding: $ui-step * 0.5 $ui-step * 1.5;

  background-color: $accent-color;

  color: $secondary-color;

  border-radius: 1em;

  overflow: hidden;
  white-space: nowrap;

  &--featured {
    transform: scale(2);

    border-radius: 0.15em;

    background-color: $primary-color;
  }
}

.value {
}
